<div class="flex justify-center flex-col">
  <div class=" m-auto max-w-[1280px] bg-[#1A1A1A] mt-[80px] p-4 mb-6 rounded-[16px]">
    <div class="font-semibold text-[30px] text-white">{{ show_data.show_title }}</div>
    <div class="desc-container text-white bg-[#1a1a1a] mt-6 rounded-[16px] max-w-[1280px] mb-8">
      {{ show_data.description|raw }}
    </div>
  </div>


  <div class="m-auto bottom-container flex gap-[20px] flex-col-reverse md:flex-row pb-12">
    <div class="flex justify-center overflow-hidden flex-col lg:flex-row max-w-[1280px] gap-[24px]">
      <div class="left y-6 rounded-[24px] border border-solid border-white h-fit p-4 lg:p-6">
        <span class="pl-4 text-[#a0a3a1] pt-6 flex justify-center">Ekipa filmowa<b class="pl-2">{{ show_data.show_title }}</b></span>
        <div class="flex flex-wrap gap-[16px] justify-center items-center swiper mySwiper">
          <div class="swiper-wrapper">
            {% for participation in show_data.participation_paragraphs %}
              <div
                class="bg-[#1A1A1A] swiper-slide text-white bg-[#1a1a1a] mt-6 rounded-[16px] p-4 max-w-[250px] h-[220px] gap-[20px] flex flex-col">
                {% if participation.persona_image_url %}
                  <img class="rounded-[8px]" src="{{ participation.persona_image_url }}"
                     alt="Participator's image">
                {% endif %}
                <div class="font-semibold">{{ participation.persona_full_name }}</div>
                <div>{{ participation.role }}</div>
                {% if participation.role == 'Actor' %}
                  <div>Jako: <span>{{ participation.character_name }}</span></div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="p-4 rounded-[24px] border border-solid border-white mt-4">
          <span class="pl-4 text-[#a0a3a1] pt-6 flex justify-center">Informacje o<b class="pl-2">{{ show_data.show_title }}</b></span>
          <div class="text-[#a0a3a1]">Rok wydania: {{ show_data.release_year }}</div>
          <div class="text-[#a0a3a1]">Długość: {{ show_data.length_in_minutes }} minut</div>

          <div class="text-[#a0a3a1]">Gatunek:</div>
          <ul>
            {% for genre in show_data.genres %}
              <li>{{ genre }}</li>
            {% endfor %}
          </ul>
          <div class="text-[#a0a3a1]">Języki:</div>
          <ul>
            {% for language in show_data.available_languages %}
              <li>{{ language }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="right">
        <img class="rounded-[24px]" src="{{ show_data.cover_image_url }}" alt="Show image">
      </div>
    </div>

  </div>

  {{ drupal_form('Drupal\\fresh_apples_reviews\\Form\\MovieReviewForm') }}


</div>
